data/raw/csv/lyrics-data.csv
data/raw/txt/*
!data/raw/txt/.gitkeep

data/interim/*
!data/interim/.gitkeep

data/processed/*
!data/processed/.gitkeep

models/bilstm/*
!models/bilstm/.gitkeep

models/gpt2/*
!models/gpt2/.gitkeep

models/vae/*
!models/vae/.gitkeep

models/tinyllama/*
!models/tinyllama/.gitkeep

.env